<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="text-center">
              <img src="assets/images/auth/logo.png" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">{{'Sign In' | translate}}</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="email" class="form-control" name="email" [(ngModel)]="email" [placeholder]="'Your Email Address' | translate">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="password" [placeholder]="'Password' | translate">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <select name="select" class="form-control" [(ngModel)]="lang" (change)= "onLangSelect($event)">
                  <option value="select">{{'Select Language' | translate}}</option>
                  <option value="en">{{'English' | translate}}</option>
                  <option value="ar">{{'Arabic' | translate}}</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-7 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">{{'Remember me' | translate}}</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> {{'Forgot Your Password?' | translate}}</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="login()">{{'Sign In' | translate}}</button>
                </div>
              </div>
              <div class="col-xs-12 text-left">
                <span class="text-inverse f-w-600">Don't have an account?</span>
                <a [routerLink]="['/auth/registration']" class="text-right f-w-600"> Sign Up</a>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
