<div class="row">
  <div class="col-sm-12">
    <!-- Basic table card start -->
    <app-card [title]="'Basic table'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">{{'use class' | translate}} <code>{{'table' |translate}}</code> {{'inside table element' | translate}}</span>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>{{'First Name' | translate}}</th>
            <th>{{'Last Name' | translate}}</th>
            <th>{{'Username' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{'Mark' | translate}}</td>
            <td>{{'Otto' | translate}}</td>
            <td>{{'@mdo' | translate}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{'Jacob' | translate}}</td>
            <td>{{'Thornton' | translate}}</td>
            <td>{{'@fat' | translate}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{'Larry' | translate}}</td>
            <td>{{'the Bird' | translate}}</td>
            <td>{{'@twitter' | translate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Basic table card end -->
    <!-- Inverse table card start -->
    <app-card [title]="'Inverse table'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">use class <code>table-inverse</code> inside table element</span>
      <div class="table-responsive">
        <table class="table table-inverse">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Inverse table card end -->
    <!-- Hover table card start -->
    <app-card [title]="'Hover table'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">use class <code>table-hover</code> inside table element</span>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Hover table card end -->
    <!-- Contextual classes table starts -->
    <app-card [title]="'Contextual classes'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">For Make row Contextual add Contextual class like <code>.table-success</code> in <code> tr tag</code> and For cell add Contextual class in <code> td or th tag</code> . </span>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr class="table-active">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr class="table-success">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">5</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">7</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr class="table-info">
            <th scope="row">9</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Contextual classes table ends -->
    <!-- Background Utilities table start -->
    <app-card [title]="'Background Utilities'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">Regular table background variants are not available with the inverse table, however, you may use <code>text or background utilities</code> to achieve similar styles.</span>
      <div class="table-responsive">
        <table class="table table-inverse">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr class="bg-primary">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr class="bg-success">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr class="bg-warning">
            <th scope="row">5</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr class="bg-danger">
            <th scope="row">7</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr class="bg-info">
            <th scope="row">9</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Background Utilities table end -->
  </div>
</div>
